html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#application {
  height: 100%;
  display: flex;
  flex-flow: row;
}

.sidebar-item {
  transition: background-color 0.1s ease-in-out;
}

.sidebar-item:hover {
  background-color: #444;
}
