#crochet-container .belle-title {
  text-align: center;
  font-family: "Parisienne", serif;
  font-size: 3em;
}

#crochet-container .start-page .belle-title {
  font-size: 5em;
}

#crochet-container .belle-subtitle {
  font-family: "Parisienne", serif;
  font-size: 2em;
  margin-top: 0.5em;
}

#crochet-container .start-description {
  font-size: 1.3em;
  text-align: center;
  white-space: pre;
}

#crochet-container .start-program-selection {
  margin-top: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

#crochet-container .belle-program-button {
  border: 1px dashed #bbb;
  outline: none;
  background: none;
  width: 100px;
  height: 100px;
  margin: 0.5em;
  cursor: pointer;
}

#crochet-container .belle-program-button .belle-icon {
  font-size: 36px;
  color: #777;
}

#crochet-container .belle-column {
  display: flex;
  flex-direction: column;
}

#crochet-container .belle-row {
  display: flex;
  flex-direction: row;
}

#crochet-container .belle-program-column {
  align-items: center;
  margin: 1em;
  width: 25%;
  text-align: center;
  font-size: 0.85em;
  font-family: sans-serif;
}

#crochet-container .belle-output {
  font-size: 1.2em;
  white-space: pre-line;
}

#crochet-container .documentation {
  white-space: normal;
}

#crochet-container .belle-paragraph {
  margin-bottom: 1.5em;
}

#crochet-container .belle-typewriter {
  font-family: monospace;
}

#crochet-container .belle-code {
  margin: 0 0.5em 1.5em 0.5em;
  padding: 0.5em;
  border: 1px solid #ececea;
  display: block;
  white-space: pre-wrap;
}

#crochet-container .menu-link {
  font-size: 1.2em;
  font-family: sans-serif;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 1em;
  cursor: pointer;
  font-weight: bold;
  color: #3c6382;
  border-bottom: 2px solid #ececea;
  position: relative;
  top: 2px;
}

#crochet-container .menu-link:hover {
  border-bottom-color: #3c6382;
}

#crochet-container .navigation {
  margin-bottom: 1.5em;
  border-bottom: 2px solid #ececea;
  display: flex;
}

#crochet-container .navigation-left {
  flex-grow: 0;
}

#crochet-container .navigation-right {
  flex-grow: 1;
  flex-direction: row-reverse;
  display: flex;
}

#crochet-container {
  padding: 0 2em 2em 2em;
}

#crochet::after {
  display: none;
}

#crochet-container .belle-code-editor {
  display: block;
  width: 100%;
  min-height: 100px;
  font-size: 1em;
  font-family: "Lora", serif;
  background: #fff;
  padding: 0.5em;
  border: 1px solid #ececea;
  box-sizing: border-box;
  overflow: hidden;
}

#crochet-container .belle-editor-container {
  position: relative;
}

#crochet-container .belle-editor-actions {
  position: relative;
  top: -24px;
  display: flex;
  flex-direction: row-reverse;
  height: 48px;
  right: -24px;
}

#crochet-container .belle-editor-actions .belle-action {
  width: 48px;
  height: 48px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: var(--primary);
  border: 1px solid var(--primary);
  outline: none;
  border-radius: 100%;
  text-align: center;
}

#crochet-container .title-input {
  font-size: 2.5em;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  background: none;
  border-bottom: 1px solid var(--primary);
  font-family: "Parisienne", serif;
  outline: none;
}

#crochet-container .documentation-reference {
  border-bottom: 1px solid #ececea;
  padding: 0.5em 0 1em;
  margin-bottom: 1.5em;
  white-space: normal;
}

#crochet-container .documentation-reference-title {
  font-weight: bold;
  border-left: 4px solid var(--primary);
  padding-left: 0.5em;
  margin-bottom: 0.8em;
}
